
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .section-container{
    @apply flex flex-row mx-11 my-7 h-5/6 shadow-black shadow-lg bg-gray-900 p-10
  }
  .tbl{
    @apply h-auto;
  }

  .tbl-header{
    @apply text-green-500 flex flex-row gap-3 justify-center items-center font-semibold
  }

  .tbl-header h1{
    @apply text-xl
  }

  .tbl-header i{
    @apply text-2xl
  }

  .award{
    @apply text-yellow-500 text-2xl
  }

  /*DATA GRID CONTENT AND ROW CSS*/
  .dx-datagrid{
    @apply bg-gray-700 text-white font-mono font-semibold text-lg border-none w-auto 
  }

  .dx-datagrid-headers{
    @apply bg-gray-800
  }

 
  .dx-data-row{
    @apply hover:bg-green-500 hover:text-gray-800 duration-500 ease-in-out
  }

  .dx-widget{
    @apply font-mono font-semibold text-green-500
  }

  .dx-datagrid-pager {
    @apply flex flex-row items-center justify-between 
  }

  .dx-page-sizes{
    @apply flex flex-row items-center gap-x-2
  }

  .dx-page-size,  .dx-page{
    @apply bg-slate-600 hover:bg-green-500 hover:text-gray-700 duration-500 ease-in-out
  }

  .dx-texteditor-input{
    @apply bg-slate-600 text-white focus:bg-white focus:text-green-500 duration-500 ease-in-out
  }

  .dx-toolbar{
    @apply mb-0 bg-gray-700 p-2 flex flex-row items-center
  }

  .dx-datagrid-nodata{
    @apply text-green-500 text-4xl  animate-pulse
  }

  .dx-datagrid-rowsview .dx-master-detail-row:not(.dx-datagrid-edit-form) .dx-master-detail-cell{
    @apply bg-transparent
  }

}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #cbd5e1 #ffffff00;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
  }